$green-1: #059033;
$green-2: #93CB56;
$green-3: #7BAA47;
$green-4: #355A20;

$small: 400px;
$phone: 800px;
$table: 1000px;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-text-center {
    @include flex-column;
    text-align: center;
}

@mixin flex-column-all-center{
    @include flex-column-text-center();
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin gradient {
    background: linear-gradient(45deg, $green-1, $green-2, $green-3, $green-4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin reverse-gradient {
    background: linear-gradient(45deg, $green-4, $green-3, $green-2, $green-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin padding-top {
    padding-top: 10px;
}

@mixin transform {
    transform: scale(1.5);
}

@mixin transition {
    transition: 600ms linear 0s;
}

@mixin min-width {
    width: min-content;
}

@mixin login-register {
    @include min-width;
    position: fixed;
}

@mixin hover-transiton {
    @include reverse-gradient;
    @include transition;
    transform: rotate(-20deg);
    text-shadow: none;
}


body {
    background-image: url('./Assets/medical2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 0;
    background-size:50% 100%;
    // overflow: hidden;
    cursor: url(http://cur.cursors-4u.net/nature/nat-2/nat120.cur), auto !important;
    

    @media screen and (max-width: $table) {
        background-size: cover;
    }

    @media screen and (max-width: $phone) {
        background-image: none;
        margin: auto;
    }
}

.form-links {
    @include flex-row;

    .nav {
        @include flex-column-text-center;
        @include padding-top;
        justify-content: space-around;
        align-items: flex-start;
        height: 100vh;
        font-size: 24px;
        font-weight: 500;
        cursor: context-menu;
        position: fixed;

        @media screen and (max-width: $phone) {
            @include flex-row;
            flex-wrap: wrap;
            justify-content: start;
            height: 0;
            font-size: smaller;
        }

            .link {
                text-decoration: none;
                padding-bottom: 30px;
                color: $green-1;

                    &:hover {
                        margin:15px;
                        @include transform;
                        color: $green-2;
                    }

                    @media screen and (max-width: $table) {
                        color: $green-2
                    }

                    @media screen and (max-width: $phone) {
                        padding: 0px 80px;
                        
                    }
            }
    }
}

.home {
    position: fixed;
    // top: 30%;
    // left: 10%;
    margin-top: 14%;
    margin-left: 13%;

    @media screen and (max-width: $table) {
        @include min-width;
        margin-top: 27%;
        margin-left: 13%;
    }

    @media screen and (max-width: $phone) {
        margin-top: 33%;
        margin-left:30%
    }

    @media screen and (max-width: $small) {
        margin-top: 51%;
        margin-left: 22%;
    }
}

button {
    margin-top: 10px;
    background-color: $green-4;

    &:hover {
        background-color: $green-2;
    }
}

form {
    @include flex-column-all-center;
    align-content: center;
    padding: 8px 0px 0px 0px;
}

.header{
    text-align: center;
    padding-top: 5%;
    font-size: 74px;
    line-height: 1.2;
    font-weight: 900;
}

.login-form, .register-form {
    @include flex-column-all-center;
    width: fit-content;
    margin: auto;
}

span:hover{
    font-size: x-large;
}

.login {
    @include login-register;
    top: 8%;
    margin: 60px;
    left: 12%;

    @media screen and(max-width: $table) {
        @include min-width;
        margin-left: 3%;
    }

    @media screen and (max-width: $phone) {
        width: 77%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

.register {
    @include login-register;
    left: 14%;
    
    @media screen and(max-width: $table) {
        @include min-width;
        margin-left: -4%;
        top: 0%;
    }

    @media screen and (max-width: $phone) {
        width: 77%;
        margin: 12% 0% 0% -2%;
    }

    @media screen and (max-width: $small) {
        margin-top:25%;
        font-size: 1em;
    }
}


h1 {
    @include gradient;
    @include transition;
    @include min-width;
    font-size: 88px;
    font-weight: bolder;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    
        &:hover {
            @include hover-transiton;
            
        }
            @media screen and (max-width: $table) {
                @include min-width;
                font-size: 4em;
            }

            @media screen and (max-width: $phone) {
                font-size: 4em;
                margin-bottom: auto;
                margin-top: 6%;
                width: auto;
            }

            @media screen and (max-width: $small) {
                font-size: 4em;
                text-transform: none;
            }
            
}

h2 {
    font-size: 24px;
    margin:0px;
}

.home-profile {
    @include flex-column-all-center;
    justify-content: center;
    margin-left: 15%;

    .h1-profile {
        font-size: 48px;
    }
}

.uc {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;

    .u-card {
        padding-top: 16%;
        padding-right: 13%;
    }

    .u-card2 {
        padding-left:2%
    }
}


.advice-list {
    border: 1px solid black;
}

.character {
    width: 20%;
    text-align: center;
    margin: 40px;
    background: rgba(255, 255, 255, 0.3);
}

.info {
    @include flex-row;
}

.Profile-Page {
    text-align: center;
    margin-top: 5%;
    margin-left: 17%;

    h2 {
        @include gradient;
        @include transition;
        font-size: 3em;

        &:hover {
            @include hover-transiton;
        }
    }

    .pc {
        @include flex-row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .p-card {
        padding-top: 16%;
        padding-bottom: 0;
    }

    h3 {
        @include gradient;
        @include transition;
        font-size: 2.5em;

        &:hover {
            @include hover-transiton;
        }
    }
}